<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="urdf_legt1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.53831 0.039068 -0.20111"
        rpy="0 0 0" />
      <mass
        value="2.4018" />
      <inertia
        ixx="0.015485"
        ixy="1.2072E-07"
        ixz="-2.7325E-07"
        iyy="0.009591"
        iyz="-1.9337E-07"
        izz="0.0070769" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="llink1">
    <inertial>
      <origin
        xyz="-1.1057E-06 -0.21548 -0.030779"
        rpy="0 0 0" />
      <mass
        value="0.43137" />
      <inertia
        ixx="0.0027266"
        ixy="-9.8E-06"
        ixz="5.4625E-08"
        iyy="0.00020436"
        iyz="1.5473E-07"
        izz="0.0026126" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/llink1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/llink1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ljoint1"
    type="revolute">
    <origin
      xyz="-0.438 0 0"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="llink1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="llink2">
    <inertial>
      <origin
        xyz="0.17796 -0.0015786 -0.029141"
        rpy="0 0 0" />
      <mass
        value="0.45541" />
      <inertia
        ixx="0.00023283"
        ixy="-4.9149E-06"
        ixz="-4.2698E-18"
        iyy="0.0027437"
        iyz="1.3691E-17"
        izz="0.002625" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/llink2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/llink2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ljoint2"
    type="revolute">
    <origin
      xyz="0 -0.438 0"
      rpy="0 0 -1.5707963267949" />
    <parent
      link="llink1" />
    <child
      link="llink2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="llink3">
    <inertial>
      <origin
        xyz="0.049331 -0.036675 -0.031244"
        rpy="0 0 0" />
      <mass
        value="0.29119" />
      <inertia
        ixx="0.00011606"
        ixy="-6.0358E-08"
        ixz="9.6683E-08"
        iyy="0.00068435"
        iyz="-1.3663E-07"
        izz="0.00061049" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/llink3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/llink3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ljoint3"
    type="revolute">
    <origin
      xyz="0.44 0 0"
      rpy="0 0 1.5707963267949" />
    <parent
      link="llink2" />
    <child
      link="llink3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rlink1">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/rlink1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/rlink1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rjoint1"
    type="revolute">
    <origin
      xyz="-0.438 0 0"
      rpy="0 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="rlink1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rlink2">
    <inertial>
      <origin
        xyz="0.17796 -0.0015786 -0.054446"
        rpy="0 0 0" />
      <mass
        value="0.45541" />
      <inertia
        ixx="0.00023283"
        ixy="-4.9149E-06"
        ixz="-4.3383E-18"
        iyy="0.0027437"
        iyz="1.4046E-17"
        izz="0.002625" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/rlink2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/rlink2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rjoint2"
    type="revolute">
    <origin
      xyz="0 -0.438 -0.314695548435792"
      rpy="0 0 -1.5707963267949" />
    <parent
      link="rlink1" />
    <child
      link="rlink2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rlink3">
    <inertial>
      <origin
        xyz="0.049331 -0.036675 -0.049198"
        rpy="0 0 0" />
      <mass
        value="0.29119" />
      <inertia
        ixx="0.00011606"
        ixy="-6.0358E-08"
        ixz="9.6683E-08"
        iyy="0.00068435"
        iyz="-1.3663E-07"
        izz="0.00061049" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/rlink3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_legt1/meshes/rlink3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rjoint3"
    type="revolute">
    <origin
      xyz="0.44 0 -0.00734999999999925"
      rpy="0 0 1.5707963267949" />
    <parent
      link="rlink2" />
    <child
      link="rlink3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>